<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate"/>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    {% load static %}

    <title>Title page</title>

    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>

<body>

<!-- Add your content of header -->
<header class="">
    <div class="navbar navbar-default visible-xs">
        <button type="button" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="index" class="navbar-brand">Proiect Django</a>
    </div>

    <nav class="sidebar">
        <div class="navbar-collapse" id="navbar-collapse">
            <div class="site-header hidden-xs">
                <img class="img-responsive site-logo" alt="" src="{% static 'assets/images/mashup-logo.svg'%}">
                <a class="site-brand" href="index" title="Proiect Django">
                    Blog
                </a>
            </div>
            <ul class="nav">
                <li><a href="index" title="">Home</a></li>
                <li><a href="contact" title="">Contact</a></li>

            </ul>
        </div>
    </nav>
</header>
<main class="" id="main-collapse">


    <div class="row">
        <div class="col-xs-12">
            <div class="section-container-spacer">
                <h1>Contact</h1>
                <p>You can reach us at one of the following e-mail addresses.</p>
                <p>Feel free to also create an issue on github if you need to.</p>
            </div>
            <div class="section-container-spacer">
                <form action="" class="reveal-content">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled address-container">

                                <li>
                                  <span class="fa-icon">
                                    <i class="fa fa-at" aria-hidden="true"></i>
                                  </span>
                                    mihai.chirculete98@gmail.com
                                </li>
                                <li>
                                  <span class="fa-icon">
                                    <i class="fa fa-at" aria-hidden="true"></i>
                                  </span>
                                    maryam.ferdous400@gmail.com
                                </li>
                                <li>
                                  <span class="fa-icon">
                                    <i class="fa fa-at" aria-hidden="true"></i>
                                  </span>
                                    draghici.mircea14@gmail.com
                                </li>
                                <li>
                                  <span class="fa-icon">
                                    <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                                  </span>
                                    Str. Academiei nr.14, Sector 1, 010014, București
                                </li>
                            </ul>
                            <h3>Check out our project's Git repo</h3>
                            <li>
                                <a href="https://github.com/MihaiChirculete/OptionalDjango" title="" class="fa-icon">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a href="https://github.com/MihaiChirculete/OptionalDjango"> ProiectDjango repository on GitHub</a>
                            </li>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</main>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        navbarToggleSidebar();
        navActivePage();
    });
</script>
<script type="text/javascript" src="{% static 'main.js'%}"></script>
</body>

</html>